<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Chlorophyll</title>
</head>
<body>
<div class="container">
    <div class="navbar">

        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ALL</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
        <img src="/images/menu.png" class="menu">
    </div>
    <div class="row">
        <div class="col">
            <h1>Chlorophyll</h1>
            <p>Choose how to green your home</p>
            <button type="button">START</button>
        </div>
        <div class="col">
            <div class="card card1">
                <h4>Australia</h4>
            </div>
            <div class="card card2">
                <h4>Tropical Asia</h4>
            </div>
            <div class="card card3">
                <h4>Mexico and South America</h4>
            </div>
            <div class="card card4">
                <h4>China and Southeast Asia</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>
