<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DevFolio Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet"  th:href="@{/css/style.css}">

</head>

<body id="page-top">

<!--/ Nav Start /-->
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<!--/ Nav End /-->

<!--/ Section Blog Star /-->
<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        <br>
                        News
                    </h3>
                    <p class="subtitle-a">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/news/newNewsItem" class="btn btn-primary">New news</a>
        </div>
        <div class="row">
            <div class="col-md-4" th:each="newsItem : ${newsItems}">
                <div class="card card-blog">
                    <div class="card-img">
                        <a>
                            <img th:src="'data:image/jpeg;base64,' + ${newsItem.base64Image}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category" th:text="${newsItem.category}">Travel</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a th:href="@{/news-single/{id}(id=${newsItem.id})}" th:text="${newsItem.title}"></a>
                        </h3>
                        <p class="card-description" th:text="${newsItem.description}">
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img th:src="'data:image/jpeg;base64,' + ${newsItem.base64Image}" alt="" class="avatar rounded-circle">
                                <span class="author" th:text="${newsItem.author}"></span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span>
                            <span th:text="${newsItem.time}"></span>
                        </div>
                    </div>
                </div>
                <form th:action="@{/news/deleteNewsItem/{id}(id=${newsItem.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this tour?');">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded inline-flex items-center justify-center hover:bg-red-600 transition duration-300" style="border-radius: 8px;">
                        <i class="bi bi-trash mr-2"></i>Delete
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>
<!--/ Section Blog End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/counterup/jquery.waypoints.min.js"></script>
<script src="lib/counterup/jquery.counterup.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>

</body>
</html>
