<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="page='service'">
<head>
    <meta charset="utf-8">
    <title>Art Services</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body id="page-top">

<!--/ Nav Start /-->
<!--<div th:replace="~{/fragments/navbar :: navbar}"></div>-->
<div th:replace="~{fragments/navbar}"></div>
<!--/ Nav End /-->

<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        <br>
                        <br>
                        Servicii Artistice
                    </h3>
                    <p class="subtitle-a">
                        O gamă diversificată de servicii artistice pentru a satisface nevoile tale creative
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-palette"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Pictură Personalizată</h2>
                        <p class="s-description text-center">
                            Creare de picturi unice pe comandă, adaptate preferințelor tale. Lucrări în ulei, acrilic sau acuarelă, realizate cu atenție la detalii și calitate profesională.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-paint-brush"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Mural Art</h2>
                        <p class="s-description text-center">
                            Transformarea spațiilor prin artă murală. Creăm designuri unice pentru pereți interiori și exteriori, adaptate stilului tău și atmosferei dorite.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-graduation-cap"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Workshop-uri Artistice</h2>
                        <p class="s-description text-center">
                            Cursuri și workshop-uri pentru toate nivelurile de experiență. Învățăm tehnici de pictură, desen și compoziție într-un mediu prietenos și creativ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-pencil-alt"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Desen Artistic</h2>
                        <p class="s-description text-center">
                            Portrete și desene personalizate în diverse tehnici: creion, cărbune, pastel sau tuș. Captăm esența și personalitatea subiectului.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-brush"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Restaurare Artă</h2>
                        <p class="s-description text-center">
                            Servicii profesionale de restaurare pentru picturi și opere de artă vechi. Conservăm și reparam lucrări de artă cu respect pentru original.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-paint-roller"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Design Interior</h2>
                        <p class="s-description text-center">
                            Consultanță artistică pentru design interior. Creăm concepte unice care integrează arta în spațiul tău de locuit sau de lucru.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->

<div class="section-counter paralax-mf bg-image" style="background-image: url(/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="fas fa-paint-brush"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">250</p>
                        <span class="counter-text">LUCRĂRI FINALIZATE</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">10</p>
                        <span class="counter-text">ANI DE EXPERIENȚĂ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="fas fa-users"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">150</p>
                        <span class="counter-text">CLIENȚI MULTUMIȚI</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="fas fa-award"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">15</p>
                        <span class="counter-text">PREMIU OBTINUTE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="back-to-top">
    <i class="fa fa-arrow-up"></i>
</a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/popper/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/counterup/jquery.waypoints.min.js"></script>
<script src="/lib/counterup/jquery.counterup.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>

</body>
</html>
